{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="w-full max-h-80 overflow-hidden rounded-lg">
    <img src="{{ post.banner.url }}" alt="{{ post.title }}" class="object-cover object-center w-full h-full max-h-80">
</div>

<div class="p-4">
    <h1 class="text-3xl font-bold uppercase tracking-widest">{{ post.title | title }}</h1>
    <p class="whitespace-pre-wrap">{{ post.body | linebreaksbr }}</p>
    <div class="flex justify-end">
        <a href="{% url 'posts:list' %}" class="hover:text-secondary">Back to posts</a>
    </div>
</div>
{% endblock content %}
