{% extends "layout.html" %}
{% block title %}
    Posts
{% endblock title %}
{% block content %}
    <div class="container mx-auto p-4">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold uppercase tracking-widest">Posts</h1>
            <a href="{% url 'posts:create' %}"
               class="hover:text-secondary flex items-center{% if not user.is_authenticated %} cursor-default text-light/40 pointer-events-none{% endif %}">
                Create
                <span class="text-secondary text-2xl ml-2">+</span>
            </a>
        </div>
        {% for post in posts %}
            <article class="mt-4 p-4 bg-darkest rounded-lg shadow-md"
                     onclick="location.href='{% url 'posts:page' slug=post.slug %}'">
                <h2 class="text-xl font-bold">{{ post.title|title }} | {{ post.author | default:"Anonymous" | capfirst }}</h2>
                <i class="text-secondary">{{ post.slug }} | {{ post.created_at }}</i>
                <p>{{ post.body | truncatechars:200 }}</p>
            </article>
            {% comment %} <hr class="border-t-2 border-secondary"> {% endcomment %}
        {% endfor %}
    </div>
{% endblock content %}
